.DS_STORE
.editorconfig
.env
.git
.gitattributes
.gitignore
.gitmodules
.idea
.php_cs
.php_cs.cache
bootstrap/cache/services.php
CHANGELOG.md
env-example
laradock
laradock-env
node_modules
**/*node_modules
public/css
public/js
readme.md
storage/debugbar/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
TODO
vendor
yarn*.log
